.map_container {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
}
.map_close_btn {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 10;
    cursor: pointer;
}